.label {
  display: inline-flex;
  margin-right: 15px;

  font-size: 19px;
}

.input {
  width: 300px;
  font-size: 24px;
  height: 50px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #f6f6f6;
  border-radius: 8px;
}
